<section class="container" data-ng-init="gamesCtrl.initialize()">
  <sy-navbar></sy-navbar>
  
  <button 
    type="button" 
    name="showCreateGameFormButton" 
    class="btn" data-ng-class="{ 'btn-primary': gamesCtrl.createGameFormHidden }" 
    data-ng-bind="gamesCtrl.createGameButText" 
    data-ng-click="gamesCtrl.toggleCreateGameVisible()"
  ></button>
  
  <div data-ng-hide="gamesCtrl.createGameFormHidden">
    <form  novalidate class="container syNewGame">
      
      <fieldset class="form-group row">
        <label for="syNewGame__otherPlayer" class="col-sm-2">Invite another player by email</label>
        <div class="col-sm-10">
          <input type="text" name="name"class="form-control" id="syNewGame__otherPlayer">
        </div>
      </fieldset>
      
      <fieldset class="form-group row">
        <label class="col-sm-2">Choose Mr. X: </label>
        <div class="col-sm-10">
          
          <div class="radio">
            <label>
              <input type="radio" name="gameCreateorIsMrX" value="true" checked>
              They're chasing me!
            </label>
          </div>
          
          <div class="radio">
            <label>
              <input type="radio" name="gameCreateorIsMrX" value="false">
              I'm chasing them!
            </label>
          </div>
          
        </div>
      </fieldset>
      
      <button type="button" name="newGameButton" class="btn btn-primary" data-ng-click="gamesCtrl.createNewGame()">Start game!</button>
    
    </form>
  </div>
  
  <div data-ng-repeat="game in gamesCtrl.games" data-ng-show="gamesCtrl.createGameFormHidden">
    <game-summary data-game="game" data-joinGameById="gamesCtrl.joinGameById(game.id)"></game-summary>
  </div>
  
  
</section>
